@model IEnumerable<JC_PROJECT.Models.Shop>

@{
    ViewBag.Title = "Magasins disponibles !";
}

<h2> Magasins disponibles !</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodePostale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        
        <td>
            @Html.ActionLink("Voir produits", "DisplayProducts", new {  id=item.Identifiant  })
        </td>
    </tr>
}

</table>
