@model IEnumerable<JC_PROJECT.Models.Shop>

@{
    ViewBag.Title = "Magasins disponibles !";
}

<h2> Magasins disponibles !</h2>

<table class="table">
    

    @foreach (var item in Model)
    {

    <div class="col-md-4">
        <h2>@Html.DisplayFor(modelItem => item.Nom)</h2>
        <p> @Html.DisplayFor(modelItem => item.Description)</p>
        <p> @Html.DisplayFor(modelItem => item.Rue)</p>
        <p> @Html.DisplayFor(modelItem => item.CodePostale)</p>
        <p> @Html.DisplayFor(modelItem => item.Type)</p>
        @Html.ActionLink("Voir produits", "DisplayProducts", new { id = item.Identifiant })
    </div>

      
    }

</table>
